header
	.container

		.presentation
			figure
				img(src="images/avatar.jpg")

			hgroup
				h1
					|Veliz Fabián Horacio
					
				h2(class="js-change-language", data-world="frontenddeveloper")
					|Frontend Developer

		ul
			li
				a(href="#", target="_blank")
					i.icon-link2

			li
				a(href="#", target="_blank")
					i.icon-github

			li
				a(href="#", target="_blank")
					i.icon-social-facebook

			li
				a(href="#", target="_blank")
					i.icon-twitter

			li
				a(href="#", target="_blank")
					i.icon-gmail

		.language
			ul
				li(data-id="en" data-active="1")
					img(src="images/en.jpg")

				li(data-id="es" data-active="0")
					img(src="images/es.jpg")

