extends template.jade

block content

	.container
		.l-main
			h2.title
				|About Me

			.description
				//-p
					|Frontend Developer
				p
					|lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, vitae cum unde rerum quis necessitatibus maxime. In maiores ipsam ratione dicta velit aliquam facilis modi at, ut vitae cumque. Iure.

		.l-skills
			h2.title
				|Skills

			ul
				li.colorHtml5
					.skill
						span HTML5
						.rank
				li.colorCss3
					.skill
						span CSS3
						.rank
				li.colorJquery
					.skill
						span JQUERY
						.rank

				li.colorResponsive
					.skill
						span Responsive Web Design
						.rank

				li.colorJavascript
					.skill
						span Javascript
						.rank

				li.colorPhp
					.skill
						span PHP
						.rank

		.l-experience
			h2.title
				|Experience

			.row
				.rowDate
					|2012

				.rowContent

					.line
						.rowHeader
							h3
								|Frontend developer

							a(href="nordecmedia.com", target="_blank") NordecMedia.com
					
						p.detail
							|lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi.
					
					.line
						.rowHeader
							h3
								|Frontend Freelancer
							a(href="nubelo.com",  target="_blank") Nubelo.com

						p.detail
							|lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi.

			.row
				.rowDate
					|2013

				.rowContent

					.line
						.rowHeader
							h3
								|Frontend developer

							a(href="nordecmedia.com", target="_blank") NordecMedia.com
					
						p.detail
							|lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi.


			.row
				.rowDate
					|2014

				.rowContent

					.line
						.rowHeader
							h3
								|Frontend developer

							a(href="nordecmedia.com", target="_blank") NordecMedia.com
					
						p.detail
							|lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi.
					
					.line
						.rowHeader
							h3
								|Freelancer
							a(href="nubelo.com",  target="_blank") Nubelo.com

						p.detail
							|lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi.

					.line
						.rowHeader
							h3
								|Developer
							a(href="nubelo.com",  target="_blank") Nubelo.com

						p.detail
							|lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi.



		.l-portfolio
			h2.title
				|Portfolio

			ul
				li
					a
						.portfolioImage
							img(src="http://experialdigital.com/img/Banamex.jpg")

						.itemOverlay
							|Ire al frente

				li
					a
						.portfolioImage
							img(src="http://experialdigital.com/img/Zurich2.jpg")
								
						.itemOverlay
							|Ire al frente

				li
					a
						.portfolioImage
							img(src="http://experialdigital.com/img/Theweb2.jpg")

						.itemOverlay
							|Ire al frente

				li
					a
						.portfolioImage
							img(src="http://experialdigital.com/img/Banamex.jpg")
								
						.itemOverlay
							|Ire al frente







