extends template.jade

block content

	.container
		.l-main
			h2.title
				|Description

			.description
				//-p
					|Frontend Developer
				p
					|lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, vitae cum unde rerum quis necessitatibus maxime. In maiores ipsam ratione dicta velit aliquam facilis modi at, ut vitae cumque. Iure.

		.l-skills
			h2.title
				|Skills

			ul
				li.colorHtml5
					.skill
						span HTML5
						.rank
				li.colorCss3
					.skill
						span CSS3
						.rank
				li.colorJquery
					.skill
						span JQUERY
						.rank

				li.colorResponsive
					.skill
						span Responsive Web Design
						.rank

				li.colorJavascript
					.skill
						span Javascript
						.rank

				li.colorPhp
					.skill
						span PHP
						.rank

		.l-experience
			h2.title
				|Experience






