extends template.jade

block content

	.l-main
		.container
			h2.title
				|Descripción

			.description
				p
					|Frontend Developer
				p
					|lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, vitae cum unde rerum quis necessitatibus maxime. In maiores ipsam ratione dicta velit aliquam facilis modi at, ut vitae cumque. Iure.

