header
	background #00bcd4
	text-align right
	position relative
	box-shadow 0 2px 5px rgba(0, 0, 0, 0.26)

	.absolute
		position absolute
		top 10px
		padding-left 80px

		figure
			height 70px
			width 70px
			border-radius 70px
			overflow hidden
			box-shadow 0 2px 5px rgba(0, 0, 0, 0.26)
			position absolute
			top 0
			left 0

			img
				width 100%

			//img

		//figure

		hgroup
			text-align left
			margin-top 10px

			h1
				font-size 2.4em
				color #fff
				margin-bottom 12px

			//h1

			h2
				font-size 1.8em
				color #00BCD4

			//h2

		//hgroup

	//.absolute

	ul
		li
			display inline-block
			vertical-align middle

			a
				color #005d69
				padding 15px
				font-size 2em

			//a

		//li

	//ul

//header
