header
	background #00bcd4
	box-shadow 0 2px 5px rgba(0, 0, 0, 0.26)
	position relative


	.presentation
		padding 10px 0

		figure
			height 75px
			width 75px
			border-radius 75px
			overflow hidden
			box-shadow 0 2px 5px rgba(0, 0, 0, 0.26)
			display inline-block
			vertical-align middle

			img
				width 100%

			//img

		//figure

		hgroup
			text-align left
			margin-left 10px
			display inline-block
			vertical-align middle

			h1
				font-size 2.2em
				color #fff
				margin-bottom 4px

			//h1

			h2
				font-size 1.6em
				//color #00BCD4
				color #eee

			//h2

		//hgroup

	//.absolute

	ul
		position absolute
		top 0
		right 15px

		li
			display inline-block
			vertical-align middle

			a
				color #005d69
				padding 37px 15px 38px
				font-size 2em

			//a

		//li

	//ul

	.language
		ul
			top 100%
			right 15px

			li
				width 40px
				display block

				img
					height 100%
					width 100%


//header
